SLNServiExpress/ServiExpress/Connected Services/LoginService/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/" targetNamespace="http://services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getRol" type="tns:getRol" />
  <xs:element name="getRolResponse" type="tns:getRolResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="nameUser" type="xs:string" />
      <xs:element minOccurs="0" name="passUser" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>